<div class="container" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center center">
  <div fxFlex="10%">
    <ng-template #loading>
      <mat-spinner diameter="40"></mat-spinner>
    </ng-template>
  </div>
  <div fxFlex="40%" fxLayoutAlign="center">
    <div fxLayout="row">
      <button mat-raised-button color="primary" (click)="decrement()">
        Previous
      </button>
      <button mat-raised-button (click)="today()">
        Current
      </button>
      <button mat-raised-button color="primary" (click)="increment()">
        Next
      </button>
    </div>
  </div>
  <div fxFlex>
    <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
  </div>
</div>
<br />

<div *ngIf="events$ | async; else loading; let events">
  <mwl-calendar-month-view [viewDate]="viewDate" [events]="events" [refresh]="refresh"
    (eventClicked)="handleEvent('Clicked', $event.event)">
  </mwl-calendar-month-view>
</div>
