[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
connexion = "==1.1.15"
python-dateutil = "==2.6.0"
flask-sqlalchemy = "*"
pymysql = "*"
pyjwt = "~=2.4"
bcrypt = "~=3.1"
flask-testing = "*"
flask-cors = "~=3.0"

[requires]
python_version = "3.7"
