<div fxLayout="column" fxLayoutAlign="center center" >
  <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form class="login-form">
        <div fxLayout="column">
          <mat-form-field class="login-full-width">
            <input matInput placeholder="Username" [(ngModel)]="username" name="user-name" required>
          </mat-form-field>
          <mat-form-field class="login-full-width">
            <input matInput placeholder="Password" [(ngModel)]="password" type="password" name="password" required>
          </mat-form-field>
        </div>
      </form>
      <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
    </mat-card-content>
    <mat-card-actions fxLayoutAlign="end end">
      <button mat-raised-button (click)="login()" color="primary">Login</button>
    </mat-card-actions>
  </mat-card>
</div>
