<div class="mat-elevation-z8">
  <div fxLayout="row" fxLayoutAlign="start center">
    <div fxFlex>
      <div class="spinner-container" *ngIf="dataSource.loading$ | async" class="spinner">
        <mat-spinner diameter="40"></mat-spinner>
      </div>
    </div>
    <div fxFlex="60%">
      <h2>Employees</h2>
    </div>
  </div>
  <div fxLayout="row" fxLayoutGap="40px" fxLayoutAlign="start center">
    <!-- search box -->
    <mat-form-field fxFlexOffset="20px">
      <input matInput placeholder="Full name" #inputFullName>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Email" #inputEmail>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Position" #inputPosition>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Specialization" #inputSpecialization>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Team</mat-label>
      <select matNativeControl #inputTeam>
        <option value=''>None</option>
        <option *ngFor="let item of (teams| async | keyvalue)" [value]="item.key">
          {{item.value}}</option>
      </select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Expert</mat-label>
      <select matNativeControl #inputExpert>
        <option value=''>None</option>
        <option value='true'>Yes</option>
        <option value='false'>No</option>
      </select>
    </mat-form-field>
    <button mat-button (click)="openDialog('Add',{})" mat-flat-button color="primary">Add</button>
  </div>
  <table mat-table class="full-width-table" matSort aria-label="Employees">
    <!-- employee_id column -->
    <ng-container matColumnDef="employee_id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
      <td mat-cell *matCellDef="let row">{{row.employee_id}}</td>
    </ng-container>

    <!-- full_name column -->
    <ng-container matColumnDef="full_name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Full name</th>
      <td mat-cell *matCellDef="let row">
        <p>{{row.full_name}}</p>
        <p>{{row.email}}</p>
      </td>
    </ng-container>

    <!-- position column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Position</th>
      <td mat-cell *matCellDef="let row">{{row.position}}</td>
    </ng-container>

    <!-- specialization column -->
    <ng-container matColumnDef="specialization">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Specialization</th>
      <td mat-cell *matCellDef="let row">{{row.specialization}}</td>
    </ng-container>

    <!-- team_id column -->
    <ng-container matColumnDef="team_id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Team</th>
      <td mat-cell *matCellDef="let row">{{row.team_name}}</td>
    </ng-container>

    <!-- expert column -->
    <ng-container matColumnDef="expert">
      <th mat-header-cell *matHeaderCellDef>Expert</th>
      <td mat-cell *matCellDef="let row">{{row.expert_value}}</td>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let row" class="action-link">
        <button mat-button (click)="openDialog('Update', row)" mat-flat-button color="primary"
          class="table-button">Edit</button>
        <button mat-button (click)="openDialog('Delete', row)" mat-flat-button color="primary">Delete</button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <!-- <mat-paginator #paginator [length]="dataSource?.dataLength" [pageIndex]="0" [pageSize]="50" [pageSizeOptions]="[25, 50, 100, 250]"></mat-paginator> -->
</div>
